{% extends 'base.html' %}

{% block title %}
    Acerca de....
{% endblock %}

{% block content %}

         <div class="card" style="width: 50%;">
           
            <div class="card-body">
            <h5 class="card-title">Hola, soy Claudia, de Uruguay. Licenciada en Sistemas hace mas de 20 anios</h5>
            <p class="card-text">Comence este curso de Python ya que me gusta estar actualizada</p>
            <p class="card-text">En el transcurso del mismo cambié de trabajo después de 22 anios, así que se me dificultó un poco seguir el curso. Por este motivo decidí hacer las entregas y obligatorios sola  </p>
            <p class="card-text">Traté en esta web de incluir todo lo que el profe pedía, se que PUEDO y DEBO mejorar mucho más, pero me premio por mi esfuerzo ya que en muchos momentos pensé abandonar </p>
            <p class="card-text">Gracias a profes y tutores por brindar su conocimiento </p>
                 
            
            </div>
        </div>
{% endblock %}