{% extends 'base.html' %}

{% block title %}
    Listado de atracciones
{% endblock %}

{% block content %}

    <h1>Atracciones</h1>
    <a href="/atracciones/crear-atracciones/" class="btn btn-primary">Crear atracción</a>
    {% for atraccion in atracciones %}
    <div class="card" style="width: 18rem;">
           
        <div class="card-body">
        <h5 class="card-title">{{atraccion.nombreAtr}}</h5>
        {% if atraccion.fotoAtr.url != '' %}
            <img style="width:250px;height:150px" src="{{atraccion.fotoAtr.url}}" >
        {% endif %}    
        {% if request.user.is_authenticated %}
            {% if atraccion.precioAtr == 0 %}
                <p class="card-text">INGRESO GRATUITO</p>
            {% else %}
                <p class="card-text">Su precio es ${{atraccion.precioAtr}}</p>
            {% endif %}    
        {% else %}
            {% if atraccion.precioAtr == 0 %}
                <p class="card-text">INGRESO GRATUITO</p>
            {% else %}
                <p class="card-text">Inicie sesion para ver el precio</p>
            {% endif %}
        {% endif %}

        {% if atraccion.activoAtr == True %}
            <p>Actualmente se puede visitar</p>
        {% else %}
            <p>Actualmente, no está disponible para visitas</p>
        {% endif %}
        {% if request.user.is_authenticated %}
             <a href="/atracciones/actualizar-atracciones/{{atraccion.id}}/" class="btn btn-primary">Actualizar</a>
             <a href="/atracciones/eliminar-atracciones/{{atraccion.id}}/" class="btn btn-danger">Borrar</a>
        {% endif %}
        </div>
    </div>

       
    {% endfor %}

       
{% endblock %}