{% extends 'base.html' %}

{% block title %}
    Paises
{% endblock %}

{% block content %}

    <h1>Paises</h1>
    <h2>Crear nuevo pais </h2> <a href="/paises/crear-paises/" class="btn btn-primary">Crear</a>
    {% for pais in paises %}


        <div class="card" style="width: 18rem;">
            <h5 class="card-title">{{pais.nombrePais}}</h5>
            <img style="width:50px;height:50px"  src="{{pais.bandera.url}}"/>
                              
            <div class="card-body">
           
            <p class="card-text">Población {{pais.poblacionPais}} millones </p>
            <a href="/paises/actualizar-paises/{{pais.id}}/" class="btn btn-primary">Actualizar</a>
            <a href="/paises/eliminar-paises/{{pais.id}}/" class="btn btn-danger">Borrar</a>

            
            </div>
        </div>



    {% endfor %}

{% endblock %}